<div class="toolbar">
	<button disabled type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSubscriber">
		新增訂閱者
	</button>
	<button disabled type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delSubscriber">
		刪除訂閱者
	</button>
</div>
<% include ../modals/subscriber_modals %>

<table data-classes="table align-middle table-bordered" data-toolbar=".toolbar" data-toolbar-align="right" data-toggle="table" data-search="true" data-height="500" data-show-search-button="true" data-search-align="left" data-show-search-clear-button="true" data-virtual-scroll="true" data-sort-reset="true" id="overview-table">
	<thead class="table-dark">
		<tr>
			<th data-field="artist" data-sortable="true">繪師</th>
			<th data-field="mark">備註</th>
			<th data-field="updateTime" data-sortable="true">上次更新</th>
			<th data-field="status" data-sortable="true">更新狀態</th>
			<th data-field="subscriber" data-sortable="true">訂閱者</th>
			<th data-field="preview_url" class="text-center">預覽</th>
			<th data-field="download_url" class="text-center">下載</th>
		</tr>
	</thead>
	<tbody class="">
		<% data.artists.forEach(artist => { %>
		<% const subscriber = data.subscribers[artist.subscriber]; %>
		<tr>
			<td><%- artist.artist %></td>
			<td><%- artist.mark %></td>
			<td><%- artist.updateDate %></td>
			<td>
				<%- artist.status %>
				<% if(artist.status === '新訂閱') { %>
				<!-- experimential -->
				<span class="badge bg-success">new</span>
				<% } %>
			</td>
			<td>
				<a href="/subscriber/<%- artist.subscriber.slice(2, -1) %>">
					<%- subscriber.name %>
				</a>
			</td>
			<td>
				<% const preview_url=subscriber['preview_url'] %>
				<% if ( preview_url && preview_url !='無' ) { %>
				<a data-bs-toggle="modal" data-bs-target="#modal-URL" data-bs-type="預覽" data-bs-subscriber="<%- artist.subscriber %>" data-bs-artist="<%- artist.artist %>">
					<i class="fas fa-search fa-lg" style="color: cornflowerblue;"></i>
				</a>
				<% } else { %>
				<i class="fas fa-times-circle fa-lg" style="color: gray;"></i>
				<% } %>
			</td>
			<td>
				<a data-bs-toggle="modal" data-bs-target="#modal-URL" data-bs-type="下載" data-bs-subscriber="<%- artist.subscriber %>" data-bs-artist="<%- artist.artist %>">
					<i class="fas fa-cloud-download-alt fa-lg" style="color: cornflowerblue;"></i>
				</a>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>